vendor/
database/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

public/vendor
public/css

storage/*.key

Homestead.yaml
Homestead.json
/.vagrant
.idea
.phpunit.result.cache
.phpstorm.meta.php
dcat_admin_ide_helper.php
_ide_helper.php

.env
.env.example
